<!DOCTYPE HTML>
<html>
	<head>
	{% block html_head %}

	{# Find out what our parent page is #}
	{% set current_parent = pages(current_page.id, offset=-1) | first %}		{# Returns an array with a single element, so just save the first one #}

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}
    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

		<meta property="og:url" content="{{ current_page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{% if meta.title %}{{ meta.title }} - {% endif %}{{ site_title }}">
        {% if meta.blurb %}<meta property="og:description" content="{{ meta.blurb|striptags }}">{% endif %}
        <meta property="og:image" content="{{ assets_url }}/{% if meta.image %}{{ meta.image }}{% else %}{{ current_parent.meta.image }}{% endif %}">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="bigraccoon.ca - Works by JS Staedtler">
        <meta property="twitter:card" content="summary_large_image">
		
	    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#eeeeee">

		<title>{% if meta.title %}{{ meta.title }} &#x2022; {% endif %}{{ site_title }}</title>


		{% block head_style %}
			<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
			<style>
				#wrapper > .bg { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}/{% if meta.image %}{{ meta.image }}{% else %}{{ current_parent.meta.image }}{% endif %}"); }
			</style>
		{% endblock head_style %}

		<noscript>
		{% block head_style_noscript %}
				<link rel="stylesheet" href="{{ theme_url }}/css/noscript.css" type="text/css" />
				<style>
					#wrapper { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}/{% if meta.image %}{{ meta.image }}{% else %}{{ current_parent.meta.image }}{% endif %}"); }
				</style>
		{% endblock head_style_noscript %}
		</noscript>
		
	{% endblock html_head %}
	</head>
	
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">
			<div class="bg fixed" style="transform: none;"></div>
			
			
		{% block page_header %}
		
			<!-- Page header -->
			<header id="header">
				<a href="{{ base_url }}"><img src="{{ theme_url }}/img/bigraccoon_logo_white.png" alt="bigraccoon.ca logo" id="headerlogo"></a>
			</header>
			
		{% endblock page_header %}
		
		
		{% block navbar %}

{{ include("_segment-navbar.twig") }}

		{% endblock navbar %}


			<!-- Main -->
			<div id="main">
			
{{ include("_segment-announcement.twig") }}

			{% block page_body %}
			    
				<!-- A post -->
				<section class="post">

				{% block page_content %}
				
					<header class="major">
						{% if meta.date %}<span class="date">{{ meta.date_formatted }}</span>{% endif %}
						{% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}
						{% if meta.blurb %}<p>{{ meta.blurb }}</p>{% endif %}
					</header>
					
					{{ content }}
					
				{% endblock page_content %}
							
				</section>
				
			{% endblock page_body %}

			</div>
			
		{% block page_footer %}

			<!-- Copyright statements -->
			<div id="copyright"><ul>
				<li>Original works by JS Staedtler provided under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons license CC BY 4.0</a></li>
				<li>Site content managed using <a href="https://picocms.org/">Pico</a></li>
				<li>Site design adapted from <a href="https://html5up.net/uploads/demos/massively/">Massively</a> by <a href="https://html5up.net">HTML5 UP</a></li>
				<li><a href="https://phosphoricons.com/">Phosphor</a> SVG icons provided under the <a href="https://github.com/phosphor-icons/homepage/blob/master/LICENSE">MIT License</a></li>
			</ul></div>

		{% endblock page_footer %}

		</div>
		
	{% block scripts %}
		<!-- Scripts -->
		<script src="{{ theme_url }}/js/bigraccoon.js"></script>
	{% endblock scripts %}

	</body>
</html>
