{# Like a regular article, but without presenting a blurb.  For news articles, the blurb is simply just the first sentence or two of the content #}
{% extends "_base.twig" %}

{% block page_content %}
	{{ include("_segment-pagination.twig") }}

	<header class="major">
		<span class="date">{{ meta.date_formatted }}</span>
		<h2>{{ meta.title }}</h2>
	</header>
	
	{{ content }}
	
	{{ include("_segment-pagination.twig") }}
{% endblock page_content %}
