{# Same as a regular article, but modified to treat blockquotes as spoiler boxes which can be hidden #}
{% extends "_base.twig" %}

{% block html_head %}
	{{ parent() }}
	
	<style>
		blockquote { display: none; }
	</style>
	
	<!-- This template treats blockquotes as spoilers, and allows them to be hidden or revealed by the user -->
	<script>
		function toggleSpoilers(checkbox) {
			var i;
			var spoilerboxes = document.getElementsByTagName("blockquote");
			for (i = 0; i < spoilerboxes.length; i++) {
				if (checkbox.checked == true) { spoilerboxes[i].style.display = "block"; }
				else { spoilerboxes[i].style.display = "none"; }
			}
		}
	</script>
{% endblock html_head %}
		
{% block page_body %}
	{{ include("_segment-pagination.twig") }}

	{{ parent() }}
	
	{# Huge hack job to let the spoiler checkbox instructions only appear if JavaScript is enabled in the browser. #}
	{# There is an empty div in the content file with id="spoilerToggleSection" and it will get filled in at this point. #}
	<script>
		document.getElementById("spoilerToggleSection").innerHTML = '<p><em>Additionally</em>, I&#39;ve added a few new entries which contain spoilers for <em>the entirety of <strong>Xenoblade Chronicles 3</strong></em> (including DLC expansion <strong>Future Redeemed</strong>).  <em>But those will be hidden by default.</em>  Click here if you would like to view those as well:</p><input id="spoilerswitchbox" type="checkbox" name="spoilerswitchbox" onChange="toggleSpoilers(this);"><label id="spoilerswitchlabel" for="spoilerswitchbox"><h4>Reveal full-game spoilers</h4></label>';
		toggleSpoilers(document.getElementById("spoilerswitchbox"));
	</script>
			
	{{ include("_segment-pagination.twig") }}
{% endblock page_body %}

{% block scripts %}
	{# Add lightbox elements and script #}
	{{ include("_segment-lightbox.twig") }}
	
	{{ parent() }}
	<script src="{{ theme_url }}/js/bigraccoon-lightbox.js"></script>
{% endblock scripts %}
