<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

	{% set RFC822 = "D, d M Y H:i:s O" %}

	<channel>
		<title>{{ site_title|e }}</title>
		<description>{{ pages.index.meta.description|e }}</description>
		<link>{{ base_url }}/</link>
		<atom:link href="{{ base_url ~ "/feed" }}" rel="self" type="application/rss+xml"/>
		<language>en-ca</language>
		<pubDate>{{ "now"|date(RFC822) }}</pubDate>
		<lastBuildDate>{{ "now"|date(RFC822) }}</lastBuildDate>
		<generator>Pico CMS</generator>
		
		{# <image> is a logo to accompany the feed, has a curious max size of 144x400px according to RSS 2.0 specs #}
		<image>
			<url>{{ base_url ~ resize('themes/bigraccoon/img/bigraccoon_logo_black.png', 144, 400) }}</url>
			<title>{{ site_title|e }}</title>
			<link>{{ base_url }}/</link>
		</image>

	{% for page in pages if pages(page.id)|length == 0 and page.id not in ['index','feed','rss'] and not (page.id starts with 'stats') and not page.hidden and not end %}

		<item>

			<title>{{ page.title|e }}</title>
			<pubDate>{{ page.date|date(RFC822) }}</pubDate>
			<link>{{ page.url }}</link>
			<guid isPermaLink="true">{{ page.url }}</guid>

		{### If this page is a child of a top-level section, that section name will be the first element split from the page id #}
		{% set section = page.id|split('/') %}
		{% if section[0] in ['articles', 'gallery', 'news'] %}
			<category>{{ section[0]|e }}</category>
			<comments>{{ page.url }}#comments</comments>
		{% endif %}

		{### If this is a gallery post, it needs some formatting help #}
		{% if section[0] == 'gallery' %}
		
			{% if page.meta.adultonly %}
				<description>
					{{ '<p>(Adult-only content - please <a href=\"' ~ page.url ~ '">visit the site</a> to view)</p>' }}{{ page.id|content|e }}
				</description>
				{% set image = resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size, config.gallery.pixel_size) %}
			{% else %}
				<description>
					{{ page.id|content|e }}
				</description>
				{% set image = resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size) %}
			{% endif %}
			<enclosure url="{{ base_url }}/{{ image }}" type="image/jpeg" />

		{% else %}
		
			<enclosure url="{{ assets_url }}/{{ page.meta.image }}" type="image/jpeg" />
			<description>{{ page.id|content|e }}</description>
		
		{% endif %}

		</item>

		{% if loop.index == 10 %}{% set end = true %}{% endif %}
		  
	{% endfor %}

	</channel>
  
</rss>
