<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

	{% set RFC822 = "D, d M Y H:i:s O" %}
	{% set page_limit = 15 %}

	<channel>
		<title>{{ site_title|e }}</title>
		<description>{{ pages.index.meta.description|e }}</description>
		<link>{{ base_url }}/</link>
		<atom:link href="{{ base_url ~ "/feed" }}" rel="self" type="application/rss+xml"/>
		<language>en-ca</language>
		<pubDate>{{ "now"|date(RFC822) }}</pubDate>
		<lastBuildDate>{{ "now"|date(RFC822) }}</lastBuildDate>
		<generator>Pico CMS</generator>
		
		{# <image> is a logo to accompany the feed, has a curious max size of 144x400px according to RSS 2.0 specs #}
{#		<image>
			<url>{{ base_url ~ resize('themes/bigraccoon/img/bigraccoon_logo_black.png', 144, 400) }}</url>
			<title>{{ site_title|e }}</title>
			<link>{{ base_url }}/</link>
		</image>
#}

	{% for page in pages if pages(page.id)|length == 0 and page.id not in ['index','feed','rss'] and not (page.id starts with 'stats') and not page.hidden and not end %}

		<item>

			<title>{{ page.title|e }}</title>
			<pubDate>{{ page.date|date(RFC822) }}</pubDate>
			<link>{{ page.url }}</link>
			<guid isPermaLink="true">{{ page.url }}</guid>

		{### If this page is a child of a top-level section, that section name will be the first element split from the page id #}
		{% set section = page.id|split('/') %}
		{% if section[0] in ['articles', 'gallery', 'news'] %}
			<category>{{ section[0]|e }}</category>
			<comments>{{ page.url }}#comments</comments>
		{% endif %}

			<description>
			
		{### If this is a gallery post, it needs some formatting help #}
		{% if section[0] == 'gallery' %}
			
			{% if '18+' in page.meta.tags %}
				{{ '<p>(Adult-only content - please <a href="' ~ page.url ~ '">visit the site</a> to view)</p>' }}
			{% endif %}
			
			{# Main image: #}
			{% if page.meta.adultonly %}
				{{ '<p><a href="' ~ page.url ~ '"><img src="' ~ base_url ~ '/' ~ resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size, config.gallery.pixel_size ) ~ '" alt="Adult-only content hidden"></a></p>' }}
				{% set media = resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size, config.gallery.pixel_size) %}
			{% else %}
				{{ '<p><a href="' ~ page.url ~ '"><img src="' ~ base_url ~ '/' ~ resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size ) ~ '"' }}{% if page.meta.imagedescription %}{{ ' alt="' ~ page.meta.imagedescription|e ~ '"' }}{% endif %}{{ '></a></p>'|e }}  {# <- Why does *that* single statement need to be escaped?? #}
				{% set media = resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size) %}
			{% endif %}
			
			{# Variants: #}
			{% if page.meta.variants %}{% for thisimage in page.meta.variants %}
				{% if thisimage.adultonly and username != "eighteen" %}
					{{ '<p><a href="' ~ page.url ~ '"><img src="' ~  base_url ~ '/' ~ resize( 'assets/' ~ thisimage.image, null, config.gallery.image_size, config.gallery.pixel_size) ~ '" alt="Adult-only content hidden"></a></p>' }}
				{% else %}
					{{ '<p><a href="' ~ page.url ~ '"><img src="' ~ base_url ~ '/' ~ resize( 'assets/' ~ thisimage.image, null, config.gallery.image_size ) ~ '"' }}{% if thisimage.imagedescription %}{{ ' alt="' ~ thisimage.imagedescription|e ~ '"' }}{% endif %}{{ '></a></p>' }}  {# <- Why doesn't *this* statement need to be escaped?? #}
				{% endif %}
			{% endfor %}{% endif %}
			

		{% else %}

			{% if page.meta.image %}
				{% set media = resize( 'assets/' ~ page.meta.image, null, config.gallery.image_size) %}
			{% else %}
				{% set media = '' %}
			{% endif %}
		
		{% endif %}


		{# Text content: #}
				{{ page.id|content|e }}
			</description>

		{% if media %}
			<enclosure url="{{ base_url }}/{{ media }}" type="image/jpeg" />
		{% endif %}

		
		</item>

		{% if loop.index >= page_limit %}{% set end = true %}{% endif %}
	{% endfor %}

	</channel>
  
</rss>
