{% extends "_base.twig" %}

{% block page_content %}

	<header class="major">
		{% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
		
		<form method="post" action="">
			<input type="submit" name="logout" value="Hide Adult-Only Content" />
		</form>
	</header>

	<!--
		<p>OMG TAGS</p>
		{% set tags = get_all_tags() %}
		<ul>
		{% for tag in tags|sort %}
			<li>{{ tag }}</li>
		{% endfor %}
		</ul>
	-->


	{#	{% set all_pages = pages(current_page.id)|filter(p => not p.meta.adultonly)|filter(p => not p.hidden)|sort((a, b) => b.date <=> a.date) %} #}
		{% set all_pages = pages(current_page.id)|filter(p => not p.hidden)|sort((a, b) => b.date <=> a.date) %}

		{# Set a default segment size.  Override that with any value set in the site config.  And override that with any value set on this page. #}
		{% set segment_size = 25 %}
		{% if config.segment_size %}{% set segment_size = config.segment_size %}{% endif %}
		{% if meta.segment_size %}{% set segment_size = meta.segment_size %}{% endif %}
		
		{% set total_segments = ((all_pages|length) / segment_size)|round(0, 'ceil') %}
	{#	
		<p>all_pages|length = {{ all_pages|length }}</p>
		<p>segment_size = {{ segment_size }}</p>
		<p>total_segments = {{ total_segments }}</p>
	#}
		{# Get the value of any "?page=n" parameter in the URL, and if it's not an int, set it to 1 #}
		{% set current_segment_number = url_param('page', 'int', 1) %}

		{% if current_segment_number < 1 %}
			{% set current_segment_number = 1 %}
		{% endif %}

		{% if current_segment_number > total_segments %}
			{% set current_segment_number = total_segments %}
		{% endif %}
		
	{#
		<p>current_segment_number = {{ current_segment_number }}</p>
		<p>current_segment_start = {{ (current_segment_number - 1) * segment_size }}</p>
	#}
		{% set current_segment = all_pages|slice((current_segment_number - 1) * segment_size, segment_size) %}
		

	{% if total_segments > 1 %}
		<div class="pagination">
			<a href="{{ current_page.url }}?page={{ current_segment_number - 1 }}" class="previous">Prev</a>
		{% for seg in 1..total_segments %}
			<a href="{{ current_page.url }}?page={{ seg }}" class="page{% if seg == current_segment_number %} active{% endif %}">{{ seg }}</a>
		{% endfor %}
			<a href="{{ current_page.url }}?page={{ current_segment_number + 1 }}" class="next">Next</a>
		</div>
	{% endif %}


		<div id="thumbnails">
	{% for page in current_segment %}
		{% if page.meta.adultonly and username != "eighteen" %}
		
			<a href="/adult-content?dest={{ page.id }}">
				 <img class="placeholder" src="/{{ resize( 'assets/' ~ page.meta.image, null, 30 ) }}" alt="Adult-only content hidden">
			</a>
			
		{% else %}
			
			<a href="{{ page.url }}">
				{# The resize() function comes from the Pico plugin ImageResize #}
				<img src="/{{ resize( 'assets/' ~ page.meta.image, null, 300 ) }}"{% if page.meta.imagedescription %} alt="{{ page.meta.imagedescription }}"{% endif %}>
			</a>
			
		{% endif %}
	{% endfor %}
		</div>
		

	{% if total_segments > 1 %}
		<div class="pagination">
			<a href="{{ current_page.url }}?page={{ current_segment_number - 1 }}" class="previous">Prev</a>
		{% for seg in 1..total_segments %}
			<a href="{{ current_page.url }}?page={{ seg }}" class="page{% if seg == current_segment_number %} active{% endif %}">{{ seg }}</a>
		{% endfor %}
			<a href="{{ current_page.url }}?page={{ current_segment_number + 1 }}" class="next">Next</a>
		</div>
	{% endif %}


{% endblock page_content %}


{% block scripts %}

	{{ parent() }}
	<script src="{{ theme_url }}/js/bigraccoon-gallery.js"></script>
	
{% endblock scripts %}