{#
 # A template to present a single gallery image, or a grouping of multiple images.  It will have a date, H2 title,
 # and prev/next buttons.  Metadata will be provided with each main image.  Finally, other related images can be
 # displayed as thumbnails (just like in the main gallery listing).
 #}
 
{% extends "_base.twig" %}


{### Put the main image into the background, overriding the external CSS style file, as well as blurring an adult-only image #}
{% block head_style %}
	{{ parent() }}
	
	<style>
	
	{% if meta.adultonly and username != "eighteen" %}
		#wrapper > .bg { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)), url("/{% if meta.image %}{{ resize( 'assets/' ~ meta.image, null, 30 ) }}{% else %}{{ 'assets/' ~ current_parent.meta.image }}{% endif %}"); filter: blur(25px);}
	{% else %}
		#wrapper > .bg { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/{% if meta.image %}{{ resize( 'assets/' ~ meta.image, null, 800 ) }}{% else %}{{ 'assets/' ~ current_parent.meta.image }}{% endif %}"); }
	{% endif %}
	
	</style>
	
{% endblock head_style %}


{% block head_style_noscript %}

	{{ parent() }}
	
	<style>
	
	{% if meta.adultonly and username != "eighteen" %}
		#wrapper { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)), url("/{% if meta.image %}{{ resize( 'assets/' ~ meta.image, null, 30 ) }}{% else %}{{ 'assets/' ~ current_parent.meta.image }}{% endif %}"); filter: blur(25px);}
	{% else %}
		#wrapper { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/{% if meta.image %}{{ resize( 'assets/' ~ meta.image, null, thumbnail_size ) }}{% else %}{{ current_parent.meta.image }}{% endif %}"); }
	{% endif %}
	
	</style>
	
{% endblock head_style_noscript %}
		


{% block page_body %}


{### PAGINATION (UPPER) ###}
	{# Use prev/next browsing buttons that include thumbnail images #}
	{{ include("_segment-gallery-pagination.twig") }}

				<!-- A post -->
				<section class="post">
				
					<header class="major">
						{% if meta.date %}<span class="date">{{ meta.date_formatted }}</span>{% endif %}
						{% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}


{### SHOW/HIDE ADULT-ONLY CONTENT ###}

	{# Only if this page is tagged "18+", since it may be a group of images with a mix of adult-only and all-ages #}
	{% if "18+" in meta.tags %}
		{{ include("_segment-adult-toggle.twig") }}
	{% endif %}

					</header>
					


{### DISPLAY PRIMARY IMAGE #}
					<div class="gallery-image" id="main-image">
					
	{% if meta.adultonly and username != "eighteen" %}
	{### Clicking the image directs user to the adult-only consent page, with a reference back to this page #}

						<a href="/adult-content?dest={{ current_page.id }}">
							 <img class="placeholder" src="/{{ resize( 'assets/' ~ meta.image, null, 30 ) }}" alt="Adult-only content hidden">
						</a>
	{% else %}
	{### Clicking the image will simply open the original, full-size image file (which could be huge) #}
	
						<a href="{{ assets_url }}/{{ meta.image }}">
						
							{# The image displayed here is resized, so that browsing isn't slowed down by very large images #}
							<img src="/{{ resize( 'assets/' ~ meta.image, null, 800 ) }}"{% if meta.imagedescription %} alt="{{ meta.imagedescription }}"{% endif %}>
							
						</a>
	{% endif %}

					</div>



{### DISPLAY ADDITIONAL IMAGES #}
			{###  If there are more images in this group, display them next #}
			{% if meta.moreimages %}
				{% for thisimage in meta.moreimages %}
						
					<div class="gallery-image">
					
					{% if thisimage.adultonly and username != "eighteen" %}

						<a href="/adult-content?dest={{ current_page.id }}">
							 <img class="placeholder" src="/{{ resize( 'assets/' ~ thisimage.image, null, 30 ) }}" alt="Adult-only content hidden">
						</a>
						
					{% else %}
	
						<a href="{{ assets_url }}/{{ thisimage.image }}">
							<img src="/{{ resize( 'assets/' ~ thisimage.image, null, 800 ) }}"{% if thisimage.imagedescription %} alt="{{ thisimage.imagedescription }}"{% endif %}>
						</a>
						
					{% endif %}
					
					</div>
	
				{% endfor %}
			{% endif %}
			

{### DISPLAY RELATED IMAGES #}
			{# If there are related images, display them as thumbnails #}
			{% if meta.related %}
					<h3>Related Images</h3>
					<div id="thumbnails">
					
					{% for image in meta.related %}
						{% set imagepage = pages['gallery/' ~ image] %}
						
						<a href="{{ imagepage.url }}">
						
						{% if imagepage.meta.adultonly and username != "eighteen" %}
						
							{# The resize() function comes from the Pico plugin ImageResize #}
							<img class="placeholder" src="/{{ resize( 'assets/' ~ imagepage.meta.image, null, 30 ) }}" alt="Adult-only content hidden">
						
						{% else %}
						
							<img src="/{{ resize( 'assets/' ~ imagepage.meta.image, null, 300 ) }}"{% if imagepage.meta.imagedescription %} alt="{{ imagepage.meta.imagedescription }}"{% endif %}>
							
						{% endif %}
						
						</a>
							
					{% endfor %}
					
					</div>
						
			{% endif %}

					
					<p>{{ content }}</p>
					
					{{ include("_segment-comments.twig") }}
					
				</section>


{### PAGINATION (LOWER) ###}
	{{ include("_segment-gallery-pagination.twig") }}
	
	
{% endblock page_body %}



{% block scripts %}
	{# Add lightbox elements and script #}
	{{ include("_segment-lightbox.twig") }}
	
	{{ parent() }}
	
	{# Include thumbnail scripting if related images exist for this image #}
	{% if meta.related %}
		<script src="{{ theme_url }}/js/bigraccoon-gallery.js"></script>
	{% endif %}
{% endblock scripts %}