<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <meta property="og:url" content="https://bigraccoon.ca/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="bigraccoon.ca - Works by JS Staedtler">
        <meta property="og:description" content="Drawings, articles, and social media links">
        <meta property="og:image" content="https://bigraccoon.ca/assets/bg/index.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="bigraccon.ca - Works by JS Staedtler">
        <meta property="twitter:card" content="summary_large_image">

		<link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
		
		<title>{{ site_title }} &#x2022; Works by J.S. Staedtler</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}
	
		<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
		<style>
			#wrapper > .bg { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}//{{ meta.image }}"); }
		</style>

		<noscript>
			<link rel="stylesheet" href="{{ theme_url }}/css/noscript.css" type="text/css" />
			<style>
				#wrapper { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}/{{ meta.image }}"); }
			</style>
		</noscript>
	</head>
	
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Intro-style page header-->
			<div id="intro">
				<a href="#nav" class="scrolly"><img src="{{ assets_url }}/bigraccoon_logo_white.png" alt="bigraccoon.ca logo" id="headerlogo"></a>
				<a href="#nav" class="scrolly"><h3>{{ meta.description }}</h3></a>
				<ul class="actions">
					<li><a href="#main" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>

{{ include("segment-navbar.twig") }}

			<!-- Main -->
			<div id="main">
			    
{{ include("segment-announcement.twig") }}

				<!-- Artwork section -->
				<article class="post featured">
				    <header class="major">
				    <h3>Latest Artwork</h3>
					<span class="date">22 Sep 2023</span>
					</header>
					<a href="{{ meta.gallerylink }}" class="image main"><img src="{{ meta.gallerythumbnail }}" alt="" /></a>
					<ul class="actions special stacked">
						<li><a href="{{ meta.gallerylink }}" class="button large">See Details</a></li>
						<li><a href="{{ pages["gallery/index"].url }}" class="button primary large">Visit the Gallery</a></li>
					</ul>
				</article>


				<!-- Articles section -->

				{# Get all child pages of the articles section (which aren't hidden, and which aren't a subsection index), then pick the newest one #}
				{% set latest_article_id = pages("articles", depth=null)|filter(a => not (a.hidden or a.id ends with "index"))|keys|first %}
				{% set latest_article = pages[latest_article_id] %}

				<article class="post featured">
				    <header class="major">
				    <h3>Latest Article</h3>
					<span class="date">{{ latest_article.date_formatted }}</span>
					<h2><a href="{{ latest_article.url }}">{{ latest_article.title }}</a></h2>
					<p>{{ latest_article.meta.byline }}</p>
					</header>
					<a href="{{ latest_article.url }}" class="image main"><img src="{{ assets_url }}/{{ latest_article.meta.image }}" alt="Image??" /></a>
					<ul class="actions special stacked">
						<li><a href="{{ latest_article.url }}" class="button large">Read More</a></li>
						<li><a href="{{ pages["articles/index"].url }}" class="button primary large">View All Articles</a></li>
					</ul>
				</article>

                
				<!-- Post -->
				<article class="post">

					{% if meta.title %}
					<header class="major">
						<h3>{{ meta.title }}</h3>
					</header>
					{% endif %}

					{{ content }}
					
				</article>

			</div>

{{ include("segment-copyright.twig") }}

		</div>

		<!-- Scripts -->
		<script src="{{ theme_url }}/js/jquery.min.js"></script>
		<script src="{{ theme_url }}/js/jquery.scrollex.min.js"></script>
		<script src="{{ theme_url }}/js/jquery.scrolly.min.js"></script>
		<script src="{{ theme_url }}/js/browser.min.js"></script>
		<script src="{{ theme_url }}/js/breakpoints.min.js"></script>
		<script src="{{ theme_url }}/js/util.js"></script>
		<script src="{{ theme_url }}/js/main.js"></script>
		<script src="{{ theme_url }}/js/bigraccoon.js"></script>

	</body>
</html>
