<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<title>{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}
	
		<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
		<style>
			#wrapper > .bg { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}//{{ meta.image }}"); }
			/* #nav.sticky { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}/{{ meta.image }}"); } */
		</style>

		<noscript>
			<link rel="stylesheet" href="{{ theme_url }}/css/noscript.css" type="text/css" />
			<style>
				#wrapper { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("{{ assets_url }}/{{ meta.image }}"); }
			</style>
		</noscript>
	</head>
	
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Intro-style page header-->
			<div id="intro">
				<a href="#nav" class="scrolly"><img src="{{ assets_url }}/bigraccoon_logo_white.png" alt="bigraccoon.ca logo" id="headerlogo"></a>
				<a href="#nav" class="scrolly"><h3>{{ meta.description }}</h3></a>
				<ul class="actions">
					<li><a href="#main" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>

			<!-- Site navigation -->
			<nav id="nav">
				<div id="homebutton" class="active hidden">
					<a href="{{ base_url }}" class="home"><img src="{{ assets_url }}/bigraccoon_logo_black.png" alt="Home"></a>
				</div>
				
				<div id="menu">
				
					<div id="menubutton">
						<span id="navPanelToggle" onClick="toggleMenu();">Menu</span>
					</div>
				
					<div id="navLinks">
						<ul class="links">
						{% for page in pages(depthOffset=0) if page.title and not page.hidden %}
							<li>
								<a href="{{ page.url }}">{{ page.title }}</a>
							</li>
						{% endfor %}
						</ul>

						<ul class="icons">
							<li><span class="menucontrol">
								<span class="serif-font">Aa</span>
								<label class="toggleswitch" onclick="toggleFont()"><input type="checkbox" id="fonttoggle"><span class="switchslider"></span></label>
								<span class="sans-font">Aa</span>
							</span></li>
							<li><a href="#main" class="icon solid fa-arrow-up"><span class="label">Back to Top</span></a></li>
							<!-- li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li -->
						</ul>
					</div>
					
				</div>
			</nav>

			<div id="navBuffer"></div>

			<!-- Main -->
			<div id="main">

				<!-- Artwork section -->
				<article class="post featured">
				    <header class="major">
				    <h3>Latest Artwork</h3>
					<span class="date">22 Sep 2023</span>
					</header>
					<a href="https://bigraccoon.ca/picture.php?/306/category/4" class="image main"><img src="https://bigraccoon.ca/_data/i/upload/2023/11/11/20231111021913-b174c623-sm.jpg" alt="" /></a>
					<ul class="actions special stacked">
						<li><a href="https://bigraccoon.ca/picture.php?/306/category/4" class="button large">See Details</a></li>
						<li><a href="{{ pages["gallery/index"].url }}" class="button primary large">Visit the Gallery</a></li>
					</ul>
				</article>


				<!-- Articles section -->

				{# Get all child pages of the articles section (which aren't hidden, and which aren't a subsection index), then pick the newest one #}
				{% set latest_article_id = pages("articles", depth=null)|filter(a => not (a.hidden or a.id ends with "index"))|keys|first %}
				{% set latest_article = pages[latest_article_id] %}

				<article class="post featured">
				    <header class="major">
				    <h3>Latest Article</h3>
					<span class="date">{{ latest_article.date_formatted }}</span>
					<h1><a href="{{ latest_article.url }}">{{ latest_article.title }}</a></h1>
					<p>{{ latest_article.meta.byline }}</p>
					</header>
					<a href="{{ latest_article.url }}" class="image main"><img src="{{ assets_url }}/{{ latest_article.meta.image }}" alt="Image??" /></a>
					<ul class="actions special stacked">
						<li><a href="{{ latest_article.url }}" class="button large">Read More</a></li>
						<li><a href="{{ pages["articles/index"].url }}" class="button primary large">View All Articles</a></li>
					</ul>
				</article>

                
				<!-- Post -->
				<article class="post">

					{% if meta.title %}
					<header class="major">
						<h3>{{ meta.title }}</h3>
					</header>
					{% endif %}

					{{ content }}
					
				</article>

			</div>

			<!-- Footer -->
<!--			<footer id="footer">
				<section>
					<form method="post" action="#">
						<div class="fields">
							<div class="field">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</div>
							<div class="field">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" />
							</div>
							<div class="field">
								<label for="message">Message</label>
								<textarea name="message" id="message" rows="3"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" /></li>
						</ul>
					</form>
				</section>
				<section class="split contact">
					<section class="alt">
						<h3>Address</h3>
						<p>1234 Somewhere Road #87257<br />
						Nashville, TN 00000-0000</p>
					</section>
					<section>
						<h3>Phone</h3>
						<p><a href="#">(000) 000-0000</a></p>
					</section>
					<section>
						<h3>Email</h3>
						<p><a href="#">info@untitled.tld</a></p>
					</section>
					<section>
						<h3>Social</h3>
						<ul class="icons alt">
							<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</section>
				</section>
			</footer>
-->
			<!-- Copyright -->
			<div id="copyright">
				<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
			</div>

		</div>

		<!-- Scripts -->
		<script src="{{ theme_url }}/js/jquery.min.js"></script>
		<script src="{{ theme_url }}/js/jquery.scrollex.min.js"></script>
		<script src="{{ theme_url }}/js/jquery.scrolly.min.js"></script>
		<script src="{{ theme_url }}/js/browser.min.js"></script>
		<script src="{{ theme_url }}/js/breakpoints.min.js"></script>
		<script src="{{ theme_url }}/js/util.js"></script>
		<script src="{{ theme_url }}/js/main.js"></script>
		<script src="{{ theme_url }}/js/bigraccoon.js"></script>

	</body>
</html>
